@model AlStudente.Models.ViewModels.StudentUserViewModel

@{
    ViewData["Title"] = "AlStudente - {Model.UserProfile.DisplayName}";
}

<div class="text-center">
    <h1 class="display-4">@Model.UserProfile.DisplayName's Profile</h1>
</div>

@if (Model.Teacher.Id == Model.Student.TeacherId)
{
    <div class="container pt-5">
        <div class="row justify-content-start">
            <a class="btn btn-primary" asp-controller="Account" 
               asp-action="EditStudent" asp-route-id="@Model.UserProfile.Id">
                    Edit Student Profile
            </a>
        </div>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.UserProfile.ImageLocation))
        {
            <section class="row justify-content-start">
                <div>
                    <img src="@Model.UserProfile.ImageLocation" />
                </div>
            </section>
        }
    <dl class="row justify-content-between">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Full Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Display Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)User Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.UserType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Lesson Rate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LessonRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Start Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Playing Since
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PlayingSince)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Level
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Lesson Day
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonDay.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)Lesson Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonTime.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Bio)
        </dd>
    </dl>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
